body{
    background-image: url(https://pbs.twimg.com/media/Go9i9u2aAAET-SK?format=jpg&name=4096x4096);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


h1{
    font-family:'Greed Vibes', cursive;
    color: aliceblue;
}

h2{
    font-family: 'Lobster Two',cursive;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    border: 2px wheat;
    background: whitesmoke;
    color:navajowhite;
    box-shadow: 1px 1px 2px wheat;
    border-radius: 10px;
    padding: 3px 10px;
    cursor: pointer;
}